<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>ゆるりば</title>
    <meta name="description" content="ハッカソン2025 冬の陣 Gチーム" />
    <!-- CSSファイルの適用 -->
    <link rel="stylesheet" href="../../static/css/base.css" />
  </head>
  <body>
    <h1>(*´ω｀)　ゆるりば</h1>
    <img
      src="{{url_for('static', filename='images/character_pome.png')}}"
      alt="logo"
      class="character"
    />
    <p>
      メールアドレス：
      <input
        type="email"
        name="mail"
        size="30"
        pattern=".+@.+\..+"
        placeholder="yururiba@example.com"
        title="メールアドレスは、aaa@example.com のような形式で記入してください。"
        required
      />
    </p>
    <p>
      パスワード：
      <input type="password" />
    </p>
    <p>
      <a href="{{ url_for('timeline_view') }}" class="btn">Sign in</a>
    </p>
    <p>アカウントをお持ちではありませんか？</p>
    <p>
      <a href="{{ url_for('register_view') }}" class="btn">
        新規登録はこちら
      </a>
    </p>
    <footer>Team G</footer>
  </body>
</html>
