{% extends 'auth/base.html' %} {% block title %}ログイン | ゆるりば{% endblock
%} {% block styles%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/hamburger.css') }}"
/>
{% endblock%} {% block scripts%}
<script
  src="{{ url_for('static', filename='js/hamburgerMenu.js') }}"
  defer
></script>
<script src="{{ url_for('static', filename='js/password.js') }}" defer></script>
{% endblock%}{% block content %}
<div class="character-left">
  <a>
    <img
      class="character-image"
      id="pome"
      src="{{ url_for('static', filename='images/pome_default.png') }}"
      alt="ぽめちゃん"
    />
  </a>
  <div class="fukidasi-right">
    <div class="balloon-base-right">ようこそ</div>
  </div>
</div>
<div id="contents">
  <form class="form" method="post" action="{{ url_for('login_process') }}">
    <!-- フラッシュメッセージ -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <section class="flash-messages">
      {% for category, message in messages %}
      <div class="flash flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    </section>
    {% endif %} {% endwith %}

    <p class="field">
      <span class="label-text">メールアドレス：</span>
      <!-- <input
          type="email"
          name="email"
          size="30"
          pattern=".+@.+\..+"
          placeholder="yururiba@example.com"
          title="メールアドレスは、aaa@example.com のような形式で記入してください。"
          required
        /> -->
      <input
        type="email"
        name="email"
        size="30"
        pattern=".+@.+\..+"
        placeholder="yururiba@example.com"
        title="メールアドレスは、aaa@example.com のような形式で記入してください。"
        required
      />
    </p>
    <p class="field">
      <span class="label-text">パスワード：</span>
      <input type="password" name="password" />
    </p>
    <p>
      <!--       <a href="{{ url_for('timeline_view') }}" class="form_btn">サインイン</a> -->
      <button type="submit" class="form_btn">サインイン</button>
    </p>
  </form>
</div>
<div id="addcontents">
  <p>
    アカウントをお持ちではありませんか？<br />
    <a href="{{ url_for('register_view') }}"> 新規登録はこちら </a>
  </p>
</div>
{% endblock %}
