<!DOCTYPE html>
<html>
  <body>
    <h1>(*´ω｀)　ゆるりば</h1>
    <h2>新規登録</h2>
      <p>メールアドレス：
        <input type="email" name="mail" size="30" pattern=".+@.+\..+" placeholder="yururiba@example.com" title="メールアドレスは、aaa@example.com のような形式で記入してください。" required>
      </p>
      <p>パスワード：
        <input type="password">
      </p>
      <p>パスワード(確認用)：
        <input type="password">
      </p>
      <p>ユーザー名：
        <input type="text">
      </p>
      <p>
        <button onclick="location.href='../post/syumi.html'">登録</button>
      </p>
    <footer>Team G</footer>
  </body>
</html>
