{% extends 'auth/base.html' %} {% block title %}新規登録 | ゆるりば{% endblock
%} {% block styles%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/hamburger.css') }}"
/>
{% endblock%} {% block scripts%}
<script
  src="{{ url_for('static', filename='js/hamburgerMenu.js') }}"
  defer
></script>
{% endblock%} {% block header%}
<header>
  <div class="header-left">
    <nav id="hamburger-nav">
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <ul>
            <li><a href="#about" onclick="toggleMenu()">ホーム</a></li>
            <li>
              <a href="#experience" onclick="toggleMenu()">マイページ </a>
            </li>
            <li><a href="#projects" onclick="toggleMenu()">お知らせ</a></li>
            <li><a href="#contact" onclick="toggleMenu()">設定</a></li>
            <li>
              <a href="#contact" onclick="toggleMenu()">ログアウト</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="yururiba" class="header-center">ゆるりば</div>
  <div class="header-right">
    <a href="{{ url_for('login_view') }}" class="header-btn">ログイン</a>
  </div>
</header>
{%endblock%} {% block content %}
<div class="character-left">
  <a href="{{ url_for('pome_view') }}">
    <img
      class="character-image"
      id="pome"
      src="{{ url_for('static', filename='images/pome_happy.png') }}"
      alt="ぽめちゃん"
    />
  </a>
  <div class="fukidasi-right">
    <div class="balloon-base-right">新規登録</div>
  </div>
</div>
<div id="contents">
  <form class="form">
    <p class="field">
      <span class="label-text">メールアドレス：</span>
      <input
        type="email"
        name="mail"
        size="30"
        pattern=".+@.+\..+"
        placeholder="yururiba@example.com"
        title="メールアドレスは、aaa@example.com のような形式で記入してください。"
        required
      />
    </p>
    <p class="field">
      <span class="label-text">パスワード：</span>
      <input type="password" />
    </p>
    <p class="field">
      <span class="label-text">パスワード(確認用)：</span>
      <input type="password" />
    </p>
    <p class="field">
      <span class="label-text">表示名（ユーザー名）：</span>
      <input type="text" />
    </p>
    <p>
      <a href="{{ url_for('syumi_view') }}" class="form_btn"
        >次へ（趣味登録）</a
      >
    </p>
  </form>
</div>
{% endblock %}
