body {
  font-family: Yomogi;
  background-color: #FEF4E0;
}

#yururiba{
    text-align: center;
}

#contents{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 28px;
  border: 2px solid #e0a96d; /* ← 枠線 */
  border-radius: 64px;
  background-color: #F7D9AF;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 40px;
}

.form{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  margin-bottom: 4px;
  /* font-size: 24px; */
}

.form p {
  display: flex;
  align-items: center;
  gap: 16px;        /* ← ラベルと input の間 */
  margin: 0;        /* ← pのデフォルト余白を消す */
}

.form p:has(.btn) {
  align-self: center;
}

.label-text {
  display: inline-block;
  width: 110px; /* 好みで調整 */
  text-align: right;
  margin-right: 16px; /* ラベルと入力の間 */
  white-space: nowrap;
}

#addcontents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  font-size: small;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 10px 16px;
  background-color: #f3cfa5;
  border: 2px solid #e0a96d; /* ← 枠線 */
  border-radius: 12px;
  text-decoration: none;
  color: #333;
  align-self:center;
  box-shadow: 0 4px 0 rgba(0,0,0,0.2);
  margin-top: 16px;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

  /* ホバーでふわっと浮く */
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

header {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 16px 24px;
  display: flex;
  justify-content: right;
  color: var(--text-sub);
  font-size: 12px;
}

footer {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 16px 24px;
  display: flex;
  justify-content: center;
  color: var(--text-sub);
  font-size: 12px;
}