input,
textarea {
  cursor: text;
}

/* ===== キャラクター共通 ===== */
.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.character img.character-image {
  width: 70vw;
  height: auto;
}

/* ===== 吹き出し ===== */
.fukidasi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* 共通の吹き出しベース */
.balloon-base {
  position: relative;
  padding: 20px;
  background-color: #f3cfa5;
  border: 2px solid #f3cfa5;
  border-radius: 30px;
  text-align: center;
  width: auto;
  max-width: 100vw;
  min-width: 220px;
  box-sizing: border-box; /* パディング込みで幅計算 */
  word-break: break-word; /* 長い単語も折り返す */
}

/* 吹き出しの三角 */
.balloon-base::before,
.balloon-base::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  transform: rotate(45deg);
}

/* ===== タイプ別吹き出し ===== */
.default_balloon::before {
  left: 20px;
  top: -15px;
  border-left: 20px solid #f3cfa5;
  border-top: 20px solid #f3cfa5;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.default_balloon::after {
  left: 35px;
  top: -22px;
  border-left: 20px solid #FEF4E0;
  border-top: 20px solid #FEF4E0;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.balloon {
  border-radius: 10px;
}
.balloon::before {
  left: 20px;
  top: -20px;
  border-left: 20px solid #f3cfa5;
  border-top: 20px solid #f3cfa5;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.balloon::after {
  left: 35px;
  top: -22px;
  border-left: 20px solid #FEF4E0;
  border-top: 20px solid #FEF4E0;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.thinking_balloon {
  border-radius: 30px;
  margin-top: 50px;
}
.thinking_balloon::before {
  top: -30px;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #f3cfa5;
  border: 2px solid #f3cfa5;
}
.thinking_balloon::after {
  top: -45px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-color: #f3cfa5;
  border: 2px solid #f3cfa5;
}

/* ===== キャラクター共通(横並びver) ===== */
.character-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  /* width: fit-content; */
  gap: 40px;
  padding: 32px 40px;
}

.character-left img.character-image {
  width: 1000px;
  max-width: 100vw;
  height: auto;
}

/* ===== 吹き出し(横並びver) ===== */
.fukidasi-right {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  /* margin-right: 20px; */
  max-width: 90vw;
  line-height: 1.5;
}

/* 共通の吹き出しベース */
.balloon-base-right {
  position: relative;
  padding: 20px;
  background-color: #f3cfa5;
  border-radius: 30px;
  text-align: center;

  width: 200px;
  font-size: 2rem;
  box-sizing: border-box;
  word-break: break-word;

  overflow: visible;
}

/* 三角 */
.balloon-base-right::before {
  content: '';
  position: absolute;
  left: -10px;          /* 本体からはみ出す */
  bottom: 30px;         /* 高さ調整 */
  width: 0;
  height: 0;
  top: 50%;                      /* ← 中央基準 */
  transform: translateY(-50%);   /* ← 完全中央 */
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 14px solid #f3cfa5;

  z-index: 1;           /* 前面に出す */
}
