.login {
    position: absolute;
    top: 24px;
    right: 200px;
    font-size: 16px;
    display: inline-block;
    padding: 8px 16px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

#yururiba{
    text-align: center;
}

.rect_box{
    position: relative;
    height: 200px;
}

.rect{
    position: absolute;
    top: 28px;
    left:50%;
    transform:translateX(-50%);
    width:360px;
    height:500px;
    background:#999;
    border-radius: 64px;
}

#rect_title {
    position: relative;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    font-size: 24px;
}

.register_botton{
    display: inline-block;
    padding: 8px 16px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 24px;

    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    top: 420px;
}