.btn {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-width: 200px;
  padding: 10px;
  background-color: #f3cfa5;
  border: 2px solid var(--border-main);
  border-radius: var(--radius-m);
  color: #333;
  text-decoration: none;
  box-shadow: 0 4px 0 rgba(0,0,0,0.2);
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

  /* ホバーでふわっと浮く */
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* HAMBURGER MENU */

#hamburger-nav {
  /* display: none; */
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
}

.menu-links {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  z-index: 1000;
}

.menu-links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
}

.menu-links a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
}

.menu-links li {
  list-style: none;
  margin: 20px 0;
}

.menu-links.open {
  max-height: 100vh;
  right: 0;
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

body.no-scroll {
  overflow: hidden;
}