<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>ゆるりば</title>
    <meta name="description" content="ハッカソン2025 冬の陣 Gチーム" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pome.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/footer.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/error.css') }}"
    />
    <script src="{{ url_for('static', filename='js/pome.js') }}" defer></script>
  </head>
  <header>
    <a href="{{ url_for('login_view') }}" class="btn">ログイン</a>
    <a href="{{ url_for('pomeJSON_view') }}" class="btn">JSON版</a>
    <a href="{{ url_for('error_404_test_view') }}" class="btn">404</a>
  </header>
  <body>
    <h1>ぽめちゃんのテストページ</h1>
    <p>このページは、ぽめちゃんのUIのテストページです。</p>
    <p>DBなし + JavaScriptで、以下を確認しています。</p>
    <ul>
      <li>表情切り替え</li>
      <li>メッセージ切り替え</li>
    </ul>
    <p>
      表情とメッセージは別で管理しているので、拡張可能です。<br />
      （DBやAPIとかで差し替えもできそう。<small>知らんけど</small>）
    </p>

    <!-- ランダム表示 -->
    <div class="character">
      <button class="btn" onclick="changeImageRandom('randomImage')">
        ランダム表示
      </button>
      <img
        class="character-image"
        id="randomImage"
        src="{{ url_for('static', filename='images/pome_default.png') }}"
      />
    </div>

    <!-- クリックで表示変更 -->
    <div class="character">
      <button class="btn" onclick="changeImageByClick('clickImage1')">
        クリック回数で表示変更
      </button>
      <img
        class="character-image"
        id="clickImage1"
        src="{{ url_for('static', filename='images/pome_default.png') }}"
      />
    </div>

    <!-- 日付で表示変更 -->
    <div class="character">
      <label>
        登録日（テスト用）：
        <input type="date" id="registerDate" />
      </label>

      <button id="checkBtn">チェック</button>

      <img
        class="character-image"
        id="pomeImage"
        src="{{ url_for('static', filename='images/pome_default.png') }}"
        alt="ぽめちゃん"
      />

      <div class="fukidasi">
        <div class="balloon-base default_balloon" id="pomeMessage">
          ようこそ
        </div>
      </div>
    </div>

    <!-- 寄り添いぽめちゃん -->
    <div class="character">
      <img
        class="character-image"
        id="clickImage2"
        src="{{ url_for('static', filename='images/pome_default.png') }}"
        alt="ぽめちゃん"
      />
      <div class="fukidasi">
        <div class="balloon-base default_balloon">ようこそ</div>
      </div>
    </div>

    <!-- ハッピーぽめちゃん -->
    <div class="character">
      <img
        class="character-image"
        id="clickImage3"
        src="{{ url_for('static', filename='images/pome_happy.png') }}"
        alt="ハッピーぽめちゃん"
      />
      <div class="fukidasi">
        <div class="balloon-base balloon">わ～い！</div>
      </div>
    </div>

    <!-- シンキングタイムぽめちゃん -->
    <div class="character">
      <img
        class="character-image"
        id="clickImage5"
        src="{{ url_for('static', filename='images/pome_kyoton.png') }}"
        alt="きょとんぽめちゃん"
      />
      <div class="fukidasi">
        <div class="balloon-base thinking_balloon">
          あれ？？？入力欄が空みたい...
          <span class="tail"></span>
        </div>
      </div>
    </div>

    <!-- 泣きそうぽめちゃん -->
    <div class="character">
      <img
        class="character-image"
        id="clickImage4"
        src="{{ url_for('static', filename='images/pome_cloud.png') }}"
        alt="泣きそうなぽめちゃん"
      />
      <div class="fukidasi">
        <div class="balloon-base thinking_balloon">
          404NotFound...だいじょうぶだよ問題ないよ...うん...
        </div>
      </div>
    </div>

    <!-- シンキングタイムぽめちゃん -->
    <div class="character">
      <img
        class="character-image"
        id="clickImage5"
        src="{{ url_for('static', filename='images/pome_default.png') }}"
        alt="シンキングタイムぽめちゃん"
      />
      <div class="fukidasi">
        <div class="balloon-base thinking_balloon">
          投稿中...
          <span class="tail"></span>
        </div>
      </div>
    </div>
  </body>
</html>
